* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*BODY*/
body {
    font-family: 'Times New Roman', Times, serif;
}


/*HEADER*/  
header {
    font-weight: bold;
    text-align: center;
    color: black;
}

header h6 {
    font-style: italic;
}


/*FORM*/
form {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

  .container {
    max-width: 100%;
  }

  h3 {
    margin-bottom: 0px;
    line-height: 1;
    font-weight: 600;
  }

  .fetched-recipe, .favorite-recipe {
    background-color: rgba(155, 77, 202, 0.1);
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
  }

  .fetched-recipe:hover, .favorite-recipe:hover { 
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    /* border-color: #9b4dca; */
  }

  .fetched-star, .favorite-star {
    padding: 20px 20px 20px 0;
  }

button.fetched, button.favorite {
    background-color: rgba(155, 77, 202, 0);
    border: none;
    color: #ca9b4d;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;
}

div.fetched-star span.empty-star, div.favorite-star span.full-star {
  display:inline;
}

div.fetched-star:hover span.empty-star, div.favorite-star:hover span.full-star {
  display:none;
}

div.fetched-star span.add-star, div.favorite-star span.remove-star {
  display:none;
}

div.fetched-star:hover span.add-star, div.favorite-star:hover span.remove-star {
  display:inline;
}

.recipe-data {
  padding: 20px;
}

.recipe-data a:hover {
  color: #9b4dca;
}

.website-name {
  margin-bottom: 0px;
}

.recipe-img img {
  height: 94px;
  width: 141px;
  border-radius: .4rem 0 0 .4rem;
  object-fit: cover;
  display: block;
}


