* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.row {
  width: 100%;
}
  
/*BODY*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(32, 32, 32);
    color: white;
}


/*HEADER*/  
header {
    font-weight: bold;
    text-align: center;
    color: white;
}

.yafoo {
  padding-top: 20px;
}

h1 {
  margin-bottom: 0;
}

header h6 {
    font-style: italic;
}


/*FORM*/
#searchRow {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 0 0;
}

.input-fields {
  background-color: white !important;
  color: black;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  color: #F0E4F7;
  border: 0.1rem solid #F0E4F7;
  padding: 0 1.5rem;
  line-height: 3.8rem;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: 700;
}

input[type=checkbox]:hover + label {
  border-color: #606c76;
  color: #606c76;
}

iframe {
  width: 600px;
  height: 400px;
}
input[type=checkbox]:checked + label, #cuisineField {
    color: #9b4dca;
    background-color: #F0E4F7;
    border-color: #9b4dca;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
}

#nameField {
  width: calc(100% - 250px);
}

#cuisineField {
  width: auto;
}

.checkbox {
  display: inline-block;
  text-align: left;
}


/* MAIN */
.container {
  max-width: 100%;
}


/* RESULTS */
h3 {
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 600;
}

.fetched-recipe, .favorite-recipe {
  background-color: #F0E4F7;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  transition: all .3s ease-in-out;
  margin-bottom: 20px;
}

.fetched-recipe:hover, .favorite-recipe:hover { 
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  /* border-color: #9b4dca; */
}

.fetched-star, .favorite-star {
  padding: 20px 20px 20px 0;
}

button.fetched, button.favorite {
  background-color: rgba(155, 77, 202, 0);
  border: none;
  color: #ca9b4d;
  font-size: 2.8rem;
  padding: 0px;
  margin: 0px;
}

div.fetched-star span.empty-star, div.favorite-star span.full-star {
display:inline;
}

div.fetched-star:hover span.empty-star, div.favorite-star:hover span.full-star {
display:none;
}

div.fetched-star span.add-star, div.favorite-star span.remove-star {
display:none;
}

div.fetched-star:hover span.add-star, div.favorite-star:hover span.remove-star {
display:inline;
}

.recipe-data {
padding: 20px;
}

.recipe-data a:hover {
color: #9b4dca;
}

.website-name {
margin-bottom: 0px;
}

.recipe-img img {
  height: 94px;
  width: 141px;
  border-radius: .4rem 0 0 .4rem;
  object-fit: cover;
  display: block;
}

@media (min-width: 320px) {
  iframe {
    width: initial;
    height: initial;
  }
}

@media (min-width: 1024px) {
  iframe {
    width: 400px;
    height: 350px;
  }
}
@media (min-width: 1440px) {
  iframe {
    width: 600px;
    height: 400px;
  }
}

/* IFRAME */

#youtube-container {
  display: flex;
    flex-direction: column;
}

iframe {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 80.0rem) {
  #results {
    display: block;
  }
  
  #left, #right {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 40.0rem) {
  #nameField {
    width: 100%
  }

  .checkbox {
    text-align: center;
  }

  .column {
    max-width: 100% !important;
  }

  form {
    padding: 0 20px;
  }

  select {
    width: 90%;
  }

  #searchRow {
    padding-right: 0px;
  }
}